*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
}

a {
    color: inherit;
    text-decoration: none;
}

.topbar {
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
}

.topbar-logo {
    display: block;
    font-size: 24px;
    font-weight: 400;
    padding: 11px 0;
}

.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
}

.topbar-nav a {
    display: inline-block;
    margin: 0 5px 16px 5px;
    color: rgba(255, 255, 255, 0.67); 
    transition: color .3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
    color: #fff;
}

.container {
    padding: 0 15px;
    max-width: 1080px;
    margin: 0 auto;
}


.sidebar a {
    display: block;
    padding: 0.6em 0;
    transition: color .3s;
}

.sidebar a::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 20px;
    opacity: .67;
    transition: opacity .3s;
    background: url(img/home.svg) center center / contain no-repeat;
}

.sidebar .sidebar-messages::before {
    background: url(img/message.svg) center center / contain no-repeat;
}

.sidebar .sidebar-events::before {
    background: url(img/calendar.svg) center center / contain no-repeat;
}

.sidebar .sidebar-groupes::before {
    background: url(img/groupe.svg) center center / contain no-repeat;
}

.sidebar .sidebar-amis::before {
    background: url(img/groupe.svg) center center / contain no-repeat;
}


.sidebar a:hover {
    text-decoration: underline;
}

.sidebar a:hover,
.sidebar a.active {
    color: #000;
}

.sidebar a:hover::before,
.sidebar a.active::before {
    opacity: 1;
}


@media only screen and (min-width: 430px) {
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }
    .topbar-logo,
    .topbar-nav {
        padding: 0;
    }
}